<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">

                <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

            </li>
            <li ng-class="{active: collapseVar==2}" ng-show="isVisifa-userble('reservationManagement')">
                <a href="" ng-click="check(2)"><i class="fa  fa-fw"></i> 预定管理<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active" ng-show="isVisible('reservationQuantity')">
                        <a ui-sref="dashboard.reservation-quantity">预定数量</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('orderQuantity')">
                        <a ui-sref="dashboard.order-quantity">订单数量</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('repastQuantity')">
                        <a ui-sref="dashboard.repast-quantity">就餐数量</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('orderRate')">
                        <a ui-sref="dashboard.orderRate">有效订单率</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('repastRate')">
                        <a ui-sref="dashboard.repastRate">有效就餐率</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==3}" ng-show="isVisible('trafficManagement')">
                <a href="" ng-click="check(3)"><i class="fa fa-user fa-fw"></i> 流量管理<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3" ng-show="isVisible('trafficManagement')">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.traffic">流量统计</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==5}" ng-show="isVisible('userManagement')">
                <a href="" ng-click="check(5)"><i class="fa fa-user fa-fw"></i> 用户管理<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=5">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.user-reservation" ng-show="isVisible('userReservation')">预定用户数量统计</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.user-reservation-rank" ng-show="isVisible('userReservationRank')">预定次数排名</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.user" ng-show="isVisible('userManagement')">用户信息管理</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==6}" ng-show="isVisible('restaurantManagement')">
                <a href="" ng-click="check(6)"><i class="fa fa-cutlery fa-fw"></i> 餐厅管理<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=6">
                    <li ui-sref-active="active" ng-show="isVisible('city')">
                        <a ui-sref="dashboard.city">城市管理</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('service')">
                        <a ui-sref="dashboard.serivce">服务管理</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('restaurantManagement')">
                        <a ui-sref="dashboard.restaurant-info">餐厅信息管理</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('restaurantPromotion')">
                        <a ui-sref="dashboard.restaurant-promotion">餐厅促销管理</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==7}" ng-show="isVisible('systemManagement')">
                <a href="" ng-click="check(7)"><i class="fa fa-wrench fa-fw"></i> 系统管理<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=7">
                    <li ui-sref-active="active" ng-show="isVisible('account')">
                        <a ui-sref="dashboard.account">账号管理</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('role')">
                        <a ui-sref="dashboard.role">角色管理</a>
                    </li>
                    <li ui-sref-active="active" ng-show="isVisible('right')">
                        <a ui-sref="dashboard.right">权限管理</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                        <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>

                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active:collapseVar==4}">
                <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ng-class="{active: selectedMenu=='blank'}">
                        <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">Blank Page</a>
                    </li>
                    <li>
                        <a ui-sref="login">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li><a href="http://www.strapui.com/">Premium Angular Themes</a></li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



