<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">有效订单率</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" ng-controller="orderRateController">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body" ng-enter="searchBtnClicked()">
                <div class="col-md-2">
                    餐厅所在地
                    <select class="form-control" ng-model="restaurantToSearch.city" ng-options="city.name as city.name for city in cities">
                        <option value="">选择城市</option>
                    </select>
                </div>
                <div class="col-md-4">
                    餐厅名称
                    <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="restaurantToSearch.name">
                </div>
                <div class="col-md-4">
                    查询时间  <small>(从当月第一天到本日)</small>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="restaurantToSearch.endDate"
                               is-open="status.opened" min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="button" class="btn btn-primary btn-circle" ng-click="searchBtnClicked()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">查询结果</div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th st-sort="name">酒店名</th>
                        <th st-sort="name">餐厅名</th>
                        <th st-sort="marketingName">城市</th>
                        <th >查看</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" ng-repeat="row in displayedCollection">
                        <td>{{row.hotelName}}</td>
                        <td>{{row.restaurantName}}</td>
                        <td>{{row.city}}</td>
                        <td>
                            <button class="btn btn-xs btn-primary" type="button" ng-click="searchOrderQuantity(row)" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-search"></i>
                            </button>
                            <!--<button type="button" class="btn btn-success">查询</button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-12 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">有效订单统计图</div>
            <div class="panel-body">
                <canvas id="tables" class="chart chart-line chart-xl" chart-data="line.data" chart-labels="line.labels" chart-legend="true"
                        chart-click="line.onClick" chart-series="line.series"></canvas>
            </div>
        </div>
    </div>
</div>

<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }
    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>