<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">订单数量</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" ng-controller="orderQuantityController">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body" ng-enter="searchBtnClicked()">
                <div class="col-md-4">
                    餐厅所在地
                    <select class="form-control" ng-model="restaurantToSearch.city" ng-options="city.name as city.name for city in cities" ng-change="citySelected()">
                        <option value="">选择城市</option>
                    </select>
                </div>
                <div class="col-md-6">
                    餐厅名称
                    <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="restaurantToSearch.name">
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="searchBtnClicked()">
                        查询餐厅
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">查询结果</div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th st-sort="name">酒店名</th>
                        <th st-sort="name">餐厅名</th>
                        <th st-sort="marketingName">城市</th>
                        <th >查看</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" ng-repeat="row in displayedCollection">
                        <td>{{row.hotelName}}</td>
                        <td>{{row.restaurantName}}</td>
                        <td>{{row.city}}</td>
                        <td>
                            <button class="btn btn-xs btn-primary" type="button" ng-click="searchOrderQuantityFromSelectedStartAndEnd(row)" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-search"></i>
                            </button>
                            <!--<button type="button" class="btn btn-success">查询</button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">订单数量统计图</div>
            <div class="panel-body">
                <div class="query-data">

                    <div style="float: right">
                        <button class="btn btn-xs btn-primary" style="margin-left: 10px;width:30px;height:30px;margin-right: 20px"  type="button" ng-click="searchOrderQuantityFromSelectedStartAndEnd()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class='input-group date display-right' id="endDate" style="height:30px">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="myEnd"
                               is-open="status.opened" min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </span>
                    </div>
                    <div style="float: right;padding: 0 10px; font-size: 15px">
                        至
                    </div>
                    <div class='input-group date display-right' id="startDate" style="height:30px">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="myStart"
                               is-open="endDateStatus.opened" min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div style="float: right; padding: 0 10px;height: 30px" class="display-right">
                        <a class="days selectDays" ng-click="queryOrder(7)" style="padding-right: 10px;">7天</a>
                        <a class="days" ng-click="queryOrder(14)" style="padding-right: 10px;">14天</a>
                        <a class="days" ng-click="queryOrder(30)" style="padding-right: 10px;">30天</a>
                    </div>
                </div>

                <canvas id="tables" class="chart chart-line chart-xl" chart-data="line.data" chart-labels="line.labels" chart-legend="true"
                        chart-click="line.onClick" chart-series="line.series"></canvas>
            </div>
        </div>
    </div>
</div>

<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }
    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>


<script>
    $('.days').click(function () {
        $('.days').each(function () {
            $(this).removeClass("selectDays");
        });
        $(this).addClass("selectDays");
    });
</script>