<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">餐厅列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-controller="restaurantPromotionCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-5">
                    餐厅所在地
                    <select class="form-control" ng-model="restaurantToSearch.city" ng-options="city.name as city.name for city in cities">
                        <option value="">选择城市</option>
                    </select>
                </div>
                <div class="col-md-5">
                    餐厅名称
                    <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="restaurantToSearch.name">
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="button" class="btn btn-primary btn-circle" ng-click="searchBtnClicked()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-12 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div align="right">
                    <button type="button" ng-click="updatePromotedRestaurant()" class="btn btn-sm btn-success">
                        <!--<button type="button" ng-click="getRestaurantList()" class="btn btn-sm btn-success">-->
                        <i class="glyphicon glyphicon-cloud-upload">
                        </i> 更新推荐上首页餐厅
                    </button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th st-sort="name">餐厅名</th>
                        <th st-sort="marketingName">管理员id</th>
                        <th >是否推荐上首页</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" ng-repeat="row in displayedCollection">
                        <td>{{row.restaurantName}}</td>
                        <td>{{row.sellerId}}</td>
                        <td><input type="checkbox"
                                   ng-model="row.recommendLevel"
                                   ng-true-value="1"
                                   ng-false-value="0"
                                   ng-checked="row.recommendLevel == 1"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->