<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">餐厅列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row"  ng-controller="restaurantInfoCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-5">
                    餐厅所在地
                    <select class="form-control" ng-model="restaurantToSearch.city" ng-options="city.name as city.name for city in cities" ng-change="citySelected()">
                        <!--<option value="">选择城市</option>-->
                    </select>
                </div>
                <div class="col-md-5">
                    搜酒店名
                    <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="restaurantToSearch.hotelName" ng-enter="searchBtnClicked()">
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="button" class="btn btn-primary btn-circle" ng-click="searchBtnClicked()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->


    <div class="col-lg-12 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">
                搜索结果
                <!--<div align="right">-->
                    <!--<button type="button" ng-click="createRestaurant()" class="btn btn-sm btn-success">-->
                        <!--&lt;!&ndash;<button type="button" ng-click="getRestaurantList()" class="btn btn-sm btn-success">&ndash;&gt;-->
                        <!--<i class="glyphicon glyphicon-plus">-->
                        <!--</i>  新建餐厅-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th st-sort="name">餐厅名</th>
                        <th st-sort="hotelName">酒店名</th>
                        <th st-sort="marketingName">城市</th>
                        <th >餐厅地理位置</th>
                        <th >编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" ng-repeat="row in displayedCollection">
                        <td>{{row.restaurantName}}</td>
                        <td>{{row.hotelName}}</td>
                        <td>{{row.city}}</td>
                        <td>({{row.longitude}}, {{row.latitude}})</td>
                        <td>
                            <button class="btn btn-xs" type="button" ng-click="editRestaurant(row)" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-xs" type="button" ng-click="setRestaurantToDelete(row)" data-toggle="modal" data-target="#deleteModal">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="deleteModalLabel">系统提示</h4>
                            </div>
                            <div class="modal-body">
                                确定删除餐厅: {{restaurantToDelete.restaurantName}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteRestaurant()" data-dismiss="modal">删除</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>

    <!---->
    <!--&lt;!&ndash;这是餐厅列表,包括餐厅名,销售员和餐厅操作,暂时隐藏&ndash;&gt;-->
    <!--<div class="col-lg-12" ng-show=false>-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--<div align="right">-->
                    <!--<button type="button" ng-click="setRestaurantToCreate()"  data-toggle="modal" data-target="#addModal" class="btn btn-sm btn-success">-->
                        <!--&lt;!&ndash;<button type="button" ng-click="getRestaurantList()" class="btn btn-sm btn-success">&ndash;&gt;-->
                        <!--<i class="glyphicon glyphicon-plus">-->
                        <!--</i> 添加餐厅-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.panel-heading &ndash;&gt;-->
            <!--<div class="panel-body">-->
                <!--<div>-->
                    <!--<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th colspan="4">-->
                                <!--<table class="table table-condensed">-->
                                    <!--<tr>-->
                                        <!--<td width="50%">-->
                                            <!--<div class="input-group">-->
                                                <!--<input st-search="" class="form-control" placeholder="搜索" type="text"/>-->
                                                <!--<span class="input-group-btn">-->
                                                    <!--<button class="btn btn-default" type="button"><i class="fa fa-search"></i>-->
                                                    <!--</button>-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                        <!--<td width="20%">-->
                                            <!--<select class="form-control" ng-change="changeCity()" ng-model="selectedCity" ng-options="city.name as city.name for city in cities" >-->
                                                <!--<option value="">选择城市</option>-->
                                            <!--</select>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th st-sort="name">name</th>-->
                            <!--<th st-sort="marketingName">marketing</th>-->
                            <!--<th >Operations</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr st-select-row="row" ng-repeat="row in displayedCollection">-->

                            <!--&lt;!&ndash;TODO&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>{{row.hotelName}}</td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<td>{{row.introduction}}</td>&ndash;&gt;-->
                            <!--<td>-->
                                <!--<button class="btn btn-xs" type="button" ng-click="setRestaurantToDelete(row)" data-toggle="modal" data-target="#deleteModal">-->
                                    <!--<i class="fa fa-remove"></i>-->
                                <!--</button>-->
                                <!--<button class="btn btn-xs" type="button" ng-click="setRestaurantToUpdate(row)" data-toggle="modal" data-target="#editModal">-->
                                    <!--<i class="fa fa-edit"></i>-->
                                <!--</button>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--&lt;!&ndash; Modal &ndash;&gt;-->
                    <!--<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">-->
                        <!--<div class="modal-dialog">-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                                    <!--<h4 class="modal-title" id="deleteModalLabel">System Information</h4>-->
                                <!--</div>-->
                                <!--<div class="modal-body">-->
                                    <!--Are you sure to delete {{restaurantToDelete.name}}?-->
                                <!--</div>-->
                                <!--<div class="modal-footer">-->
                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                                    <!--<button type="button" class="btn btn-primary" ng-click="deleteRestaurant()" data-dismiss="modal">Yes</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.modal-content &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.modal &ndash;&gt;-->
                    <!--&lt;!&ndash; Modal &ndash;&gt;-->
                    <!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">-->
                        <!--<div class="modal-dialog" style="height:300px">-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                                    <!--<h4 class="modal-title" id="editModalLabel">Restaurant Information</h4>-->
                                <!--</div>-->
                                <!--<div class="modal-body" style="height:400px">-->
                                    <!--<form role="form" class="form-horizontal">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">Name: </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--<input class="form-control" ng-model="restaurantToUpdate.name">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">City: </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--<select class="form-control" ng-model="restaurantToUpdate.city" ng-options="city.name as city.name for city in cities">-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">Marketing: </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--<select class="form-control" ng-model="restaurantToUpdate.marketingName" ng-options="user.name as user.name for user in users">-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">Productions: </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--<table st-table="displayedProductionsOfRestaurant" st-safe-src="productionsOfRestaurant" class="table table-bordered table-striped vscroll-table">-->
                                                    <!--<thead>-->
                                                    <!--<tr>-->
                                                        <!--<th colspan="2">-->
                                                            <!--<div class="input-group" style="width: 100%">-->
                                                                <!--<input st-search="" class="form-control" placeholder="搜索" type="text"/>-->
                                                                <!--<span class="input-group-btn">-->
                                                                    <!--<button class="btn btn-default" type="button"><i class="fa fa-search"></i>-->
                                                                    <!--</button>-->
                                                                <!--</span>-->
                                                            <!--</div>-->
                                                        <!--</th>-->
                                                    <!--</tr>-->
                                                    <!--<tr>-->
                                                        <!--<th st-sort="name">Name</th>-->
                                                        <!--<th st-sort="isProvided">Provided</th>-->
                                                    <!--</tr>-->
                                                    <!--</thead>-->
                                                    <!--<tbody>-->
                                                    <!--<tr st-select-row="row" ng-repeat="row in displayedProductionsOfRestaurant">-->
                                                        <!--<td width="80%">{{row.production.name}}</td>-->
                                                        <!--<td width="20%">-->
                                                            <!--<input type="checkbox" ng-model="row.isProvided" ng-checked="row.isProvided">-->
                                                        <!--</td>-->
                                                    <!--</tr>-->
                                                    <!--</tbody>-->
                                                <!--</table>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                            <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">isPromoted: </label>-->
                                            <!--<div class="col-sm-offset-0 col-sm-7 checkbox">-->
                                                <!--<input type="checkbox" ng-model="restaurantToUpdate.isPromoted" ng-checked="restaurantToUpdate.isPromoted">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!--<div class="modal-footer">-->
                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateRestaurant()">Yes</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.modal-content &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.modal &ndash;&gt;-->
                    <!--&lt;!&ndash; Modal &ndash;&gt;-->
                    <!--<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">-->
                        <!--<div class="modal-dialog" style="height:300px">-->
                            <!--<div class="modal-content">-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                                    <!--<h4 class="modal-title" id="addModalLabel">Restaurant Information</h4>-->
                                <!--</div>-->
                                <!--<div class="modal-body" style="height:400px">-->
                                    <!--<form role="form" class="form-horizontal">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">Name: </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--<input class="form-control" ng-model="restaurantToCreate.name">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">City: </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--<select class="form-control" ng-model="restaurantToCreate.city" ng-options="city.name as city.name for city in cities">-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">Marketing: </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--<select class="form-control" ng-model="restaurantToCreate.marketingName" ng-options="user.name as user.name for user in users">-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">Productions: </label>-->
                                            <!--<div class="col-sm-8">-->
                                                <!--<table st-table="displayedProductionsOfRestaurant" st-safe-src="productionsOfRestaurant" class="table table-bordered table-striped vscroll-table">-->
                                                    <!--<thead>-->
                                                    <!--<tr>-->
                                                        <!--<th colspan="2">-->
                                                            <!--<div class="input-group" style="width: 100%">-->
                                                                <!--<input st-search="" class="form-control" placeholder="搜索" type="text"/>-->
                                                                <!--<span class="input-group-btn">-->
                                                                    <!--<button class="btn btn-default" type="button"><i class="fa fa-search"></i>-->
                                                                    <!--</button>-->
                                                                <!--</span>-->
                                                            <!--</div>-->
                                                        <!--</th>-->
                                                    <!--</tr>-->
                                                    <!--<tr>-->
                                                        <!--<th st-sort="name">Name</th>-->
                                                        <!--<th st-sort="isProvided">Provided</th>-->
                                                    <!--</tr>-->
                                                    <!--</thead>-->
                                                    <!--<tbody>-->
                                                    <!--<tr st-select-row="row" ng-repeat="row in displayedProductionsOfRestaurant">-->
                                                        <!--<td width="80%">{{row.production.name}}</td>-->
                                                        <!--<td width="20%">-->
                                                            <!--<input type="checkbox" ng-model="row.isProvided" ng-checked="row.isProvided">-->
                                                        <!--</td>-->
                                                    <!--</tr>-->
                                                    <!--</tbody>-->
                                                <!--</table>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-sm-3 control-label">isPromoted: </label>-->
                                            <!--<div class="col-sm-offset-0 col-sm-7 checkbox">-->
                                                <!--<input type="checkbox" ng-model="restaurantToCreate.isPromoted" ng-checked="restaurantToCreate.isPromoted">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!--<div class="modal-footer">-->
                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createRestaurant()">Yes</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; /.modal-content &ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.modal &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.panel &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.col-lg-12 &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.row &ndash;&gt;-->
