<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">餐厅信息管理</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <uib-accordion close-others="true">
                    <uib-accordion-group heading="餐厅基本信息" is-open="true">
                        <!--餐厅基本信息开始-->
                        <div id="basic-info" class="separator" ng-controller="BasicInfoCtrl">
                            <table class="table table-bordered" style="width: 95%; margin: 0px auto">
                                <tr>
                                    <td width="25%">
                                        城市
                                        <select class="form-control" ng-model="restaurantInfo.city">
                                            <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
                                        </select>
                                    </td>
                                    <td width="25%">
                                        <span>餐厅名称</span>
                                        <input type="text" class="form-control" ng-model="basicInfo.restaurantName"></td>
                                    <td width="25%">
                                        餐厅类型
                                        <select class="form-control" ng-model="basicInfo.restaurantType">
                                            <!--<option value="自助餐">自助餐</option>-->
                                            <!--<option value="下午茶">下午茶</option>-->
                                            <!--<option value="大堂吧">大堂吧</option>-->
                                            <!--<option value="商务套餐">商务套餐</option>-->
                                            <!--<option value="酒廊">酒廊</option>-->
                                            <option ng-repeat="production in productions" value="{{production.name}}">{{production.name}}</option>
                                        </select>
                                    </td>
                                    <!--<td>-->
                                    <!--优惠类型-->
                                    <!--<select class="form-control" ng-model="basicInfo.discountType[0]">-->
                                    <!--<option value="discount">三免一</option>-->
                                    <!--<option value="none">暂无</option>-->
                                    <!--</select>-->
                                    <!--</td>-->
                                    <td width="25%">
                                        免费停车
                                        <select class="form-control" ng-model="basicInfo.park">
                                            <option value="无停车位">无停车位</option>
                                            <option value="停车收费">停车收费</option>
                                            <option value="免费停车">免费停车</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-bordered" style="width: 95%; margin: 0px auto;margin-bottom: 20px">
                                <tr>
                                    <!--<td width="25%">-->
                                        <!--午餐价格-->
                                        <!--<input class="form-control" type="number" ng-model="basicInfo.noonPrice">-->
                                    <!--</td>-->
                                    <!--<td width="25%">-->
                                        <!--晚餐价格-->
                                        <!--<input class="form-control" type="number" ng-model="basicInfo.nightPrice">-->
                                    <!--</td>-->
                                    <td width="50%" colspan="2">
                                        餐厅均价
                                        <input class="form-control" ng-model="basicInfo.averagePrice">
                                    </td>
                                    <td width="25%">
                                        餐厅详细地址<span class="explain" style="padding-left: 10px">城市不用重复填写</span>
                                        <input type="text" class="form-control" placeholder="城市不用重复填写"
                                               ng-model="basicInfo.restaurantAddress"/>
                                    </td>
                                    <td width="25%">
                                        餐厅经纬度<span class="explain" style="padding-left: 10px"><a target="_blank" href="http://api.map.baidu.com/lbsapi/getpoint/index.html">经纬度怎么填？点我查询</a ></span>
                                        <input class="form-control" ng-model="longitudeNLatitude" placeholder="格式：00.00000,11.11111">
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%">
                                        是否推荐上首页
                                        <select class="form-control" ng-model="basicInfo.recommendLevel" ng-options="object.value as object.key for object in objects">
                                        </select>
                                        <!--<option value=1>是</option>-->
                                        <!--<option value=0>否</option>-->
                                        <!--</select>-->
                                    </td>
                                    <td width="25%">
                                        优惠类型
                                        <select class="form-control" ng-model="basicInfo.discountType[0]">
                                            <option value="discount">三免一</option>
                                            <option value="none">暂无</option>
                                        </select>
                                    </td>
                                    <td width="25%">餐厅电话<span class="explain" style="padding-left: 10px">若有多个电话号码，用一个空格分开</span>
                                        <input type="tel" class="form-control" ng-model="basicInfo.restaurantTele">
                                    </td>
                                    <td width="25%">
                                        营业时间<span class="explain" style="padding-left: 10px">格式：
                                11:30-14:30,17:30-22:00</span>
                                        <input type="text" class="form-control" ng-model="basicInfo.restaurantOpenTime">
                                    </td>
                                </tr>
                            </table>

                            <div class="save-btn">
                                <button class="btn btn-warning" ng-click="saveBasicInfo()"><span
                                        class="glyphicon glyphicon-ok"></span>保存餐厅基本信息
                                </button>
                            </div>
                        </div>
                        <!--餐厅基本信息结束-->
                    </uib-accordion-group>

                    <uib-accordion-group heading="餐厅图文信息">
                        <!--餐厅图文上传开始-->
                        <div class="image-uploads separator">
                            <div class="handle-image" ng-controller="ImageRecommendCtrl">
                                <div id="recommend-pic">
                                    平台首页展示餐厅照片,,
                                    <div><span class="explain">建议:图片分辨率:530*715,竖图</span></div>


                                    <div ng-show="homePageShow">
                                        <div class="cropAreaRecommend">
                                            <img-crop image="myRecommendImage" area-type="rectangle" aspect-ratio="0.74125874"
                                                      result-image-size='{w: 530,h: 715}'
                                                      result-image='myRecommendCroppedPic'

                                            ></img-crop>
                                        </div>
                                        <!--<div>图片预览:</div>-->
                                        <div class="croppedPic" style="display: none"><img ng-src="{{myRecommendCroppedPic}}"/>
                                        </div>
                                        <div class="picRecommendDescription">
                                            <input class="form-control" type="text" placeholder="图片描述，限20字，与图片同时显示在用户手机上"
                                                   ng-model="picDescription"/>
                                        </div>
                                        <div class="image-upload">
                                            <a href="javascript:;" class="file" ng-click="uploadPic()"><span
                                                    class="glyphicon glyphicon-saved"></span>上传图片
                                            </a>
                                            <a href="javascript:;" class="file-cancel" ng-click="removePic()"><span
                                                    class="glyphicon glyphicon-remove"></span>取消上传
                                            </a>
                                        </div>
                                    </div>
                                    <!--<div class="image-upload" ng-hide="homePageShow">-->
                                        <!--<a href="javascript:;" class="file"><span class="glyphicon glyphicon-picture"></span>选择图片-->
                                            <!--<input type="file" accept="image/*" name="recommend" id="fileInputRecommend">-->
                                        <!--</a>-->
                                        <!--<a href="javascript:;" class="file btn-warning" ng-click="previewHomePage()"><span-->
                                                <!--class="glyphicon glyphicon-search"></span>首页图文信息预览-->
                                        <!--</a>-->
                                    <!--</div>-->
                                    <div class="image-upload" ng-hide="homePageShow">
                                        <a href="javascript:;" class="file lty-tag-a"><span class="glyphicon glyphicon-picture"></span>选择图片..
                                            <input type="file" accept="image/*" name="recommend" id="fileInputRecommend">
                                        </a>
                                        <a href="javascript:;" class="file btn-primary lty-tag-a" ng-click="editHomePage()"><span
                                                class="glyphicon glyphicon-edit"></span>编辑图片
                                        </a>

                                    </div>
                                    <div class="image-upload" ng-hide="homePageShow">
                                        <a href="javascript:;" class="file btn-primary lty-tag-a lty-pic-preview" ng-click="previewHomePage()"
                                           style="padding-left: 41px; padding-right: 41px">
                                            <span class="glyphicon glyphicon-search"></span>首页图文信息预览
                                        </a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div id="detail-pic" ng-controller="ImageDetailCtrl">
                                    餐厅详情图文
                                    <div><span class="explain">建议:图片分辨率:640*420,横图</span></div>

                                    <div ng-show="detailPicShow">
                                        <div class="cropAreaDetail">
                                            <img-crop image="myDetailImage" area-type="rectangle" aspect-ratio="1.52380952"
                                                      result-image-size='{w: 640,h: 420}'
                                                      result-image='myDetailCroppedPic'
                                            ></img-crop>

                                        </div>
                                        <!--<div>图片预览:</div>-->
                                        <div class="croppedPic" style="display: none"><img ng-src="{{myDetailCroppedPic}}"/></div>
                                        <div class="picDetailDescription">
                                            <input class="form-control" type="text" placeholder="图片描述,限20字,与图片同时显示在用户手机上"
                                                   ng-model="picDescription"/>
                                        </div>
                                        <div class="image-upload">
                                            <a href="javascript:;" class="file" ng-click="uploadPic()">
                                                <span class="glyphicon glyphicon-saved"></span>上传图片
                                            </a>
                                            <a href="javascript:;" class="file-cancel" ng-click="removePic()">
                                                <span class="glyphicon glyphicon-remove"></span>取消上传
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-upload" ng-hide="detailPicShow">
                                        <a href="javascript:;" class="file lty-tag-a"><span
                                                class="glyphicon glyphicon-picture"></span>选择图片
                                            <input type="file" accept="image/*" name="detail" id="fileInputDetail" >
                                        </a>
                                        <a href="javascript:;" class="file btn-primary lty-tag-a" ng-click="editDetail()">
                                            <span class="glyphicon glyphicon-edit"></span>编辑图片
                                        </a>
                                    </div>
                                    <div class="image-upload" ng-hide="detailPicShow">
                                        <a href="javascript:;" class="file btn-primary lty-pic-preview lty-tag-a" ng-click="previewDetail()" >
                                            <span class="glyphicon glyphicon-search"></span>餐厅详细图文信息预览
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="save-btn">-->
                            <!--<button class="btn btn-warning" ng-click="previewHomePage()"><span-->
                            <!--class="glyphicon glyphicon-search"></span>图文信息预览-->
                            <!--</button>-->
                            <!--</div>-->
                        </div>
                        <!--餐厅图文上传结束-->
                    </uib-accordion-group>

                    <uib-accordion-group heading="自动接单设置">
                        <!--自动接单设置开始-->
                        <div class="autoAccept separator" ng-controller="PersistInfoCtrl">
                            <div class="autoAcceptConfig">
                                <div class="config-item">
                                    餐厅为最美食会员预留桌数最大值<input class="config-input" type="number" ng-model="persistInfo.persistTable">
                                    <span class="explain">（说明：如果系统内当日未完成预定超过预设值，则自动转为人工接单）</span>
                                </div>
                                <div class="config-item">
                                    用户发起预定时距离时间大于<input type="number" class="config-input" ng-model="persistInfo.persistTime">小时的订单，系统自动订单.
                                </div>
                                <div class="config-item">
                                    <span class="explain">自动接单：在指定时间范围内的订单系统自动为商户确定订单，在指定时间范围外的订单需要餐厅联系人进行人工确认接单。</span>
                                </div>
                            </div>
                            <div class="save-btn">
                                <button class="btn btn-warning" ng-click="savePersistInfo()"><span
                                        class="glyphicon glyphicon-ok"></span>保存自动接单设置
                                </button>
                            </div>
                        </div>
                        <!--自动接单设置结束-->
                    </uib-accordion-group>

                    <uib-accordion-group heading="餐厅联系人设置">

                        <!--餐厅联系人设置开始-->
                        <div class="contacts separator" ng-controller="ContactCtrl">
                            <div class="contacts-infos">
                                <div class="contact">
                                    联系人1：
                                </div>
                                <div class="contact-info">
                                    姓名：<input type="text" class="contact-input" ng-model="contact[0].linkmanName"
                                              style="width: 100px">
                                    手机号：<input type="tel" class="contact-input" ng-model="contact[0].linkmanPhone"
                                               style="width: 120px">
                                    Email：<input type="email" class="contact-input" ng-model="contact[0].linkmanEmail">
                                    职位：<input type="text" class="contact-input" ng-model="contact[0].position" style="width: 80px">
                                    <input type="radio" name="contact0" ng-model="selectContact" value="0">预定信息优先通知给他/她
                                </div>

                                <div class="contact">
                                    联系人2：
                                </div>
                                <div class="contact-info">
                                    姓名：<input type="text" class="contact-input" ng-model="contact[1].linkmanName"
                                              style="width: 100px">
                                    手机号：<input type="tel" class="contact-input" ng-model="contact[1].linkmanPhone"
                                               style="width: 120px">
                                    Email：<input type="email" class="contact-input" ng-model="contact[1].linkmanEmail">
                                    职位：<input type="text" class="contact-input" ng-model="contact[1].position" style="width: 80px">
                                    <input type="radio" name="contact1" ng-model="selectContact" value="1">预定信息优先通知给他/她
                                </div>

                                <div class="contact">
                                    联系人3：
                                </div>
                                <div class="contact-info">
                                    姓名：<input type="text" class="contact-input" ng-model="contact[2].linkmanName"
                                              style="width: 100px">
                                    手机号：<input type="tel" class="contact-input" ng-model="contact[2].linkmanPhone"
                                               style="width: 120px">
                                    Email：<input type="email" class="contact-input" ng-model="contact[2].linkmanEmail">

                                    职位：<input type="text" class="contact-input" ng-model="contact[2].position" style="width: 80px">
                                    <input type="radio" name="contact2" ng-model="selectContact" value="2">预定信息优先通知给他/她
                                </div>
                            </div>
                            <div class="save-btn">
                                <button class="btn btn-warning" ng-click="updateContactInfo()"><span
                                        class="glyphicon glyphicon-ok"></span>保存餐厅联系人设置
                                </button>
                            </div>
                        </div>
                        <!--餐厅联系人设置结束-->
                    </uib-accordion-group>

                    <uib-accordion-group heading="登录密码修改">
                        <!--餐厅登录密码修改开始-->
                        <div ng-controller="PwdCtrl">
                            <h4>登录密码修改</h4>

                            <div class="changePwd">
                                旧密码：<input type="password" class="pwd-input" ng-model="oldPwd"/>
                                新密码：<input type="password" class="pwd-input" ng-model="newPwd"/>
                                重复新密码：<input type="password" class="pwd-input" ng-model="newPwdRepeat"/>
                                <button style="margin-left: 10px" class="btn btn-warning" ng-click="updatePwd()"><span
                                        class="glyphicon glyphicon-ok"></span>修改密码
                                </button>
                            </div>
                        </div>
                        <!--餐厅登录密码修改结束-->
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<script type="text/ng-template" id="homePic.html">
    <!--餐厅介绍开始-->
    <div class="w-300 r-active">
        <div class="pos-r overflow-h">
            <img ng-src="{{restaurantInfo.homePagePic}}" class="img-responsive">

            <div class="pos-a font-white bg-orange transform45 smy" ng-show="discount">三免一</div>
            <div class="pos-a tc per100 bottom20">
                <p class="bg-t display-ib per100 l-ht30 font-white">{{description}}</p>
            </div>
        </div>
        <div class="introduce">
            <p class="tc mt16"><b class="font16">{{restaurantInfo.restaurantName}}</b><i class="font-c-f8 ml10">hot</i>
            </p>

            <p>
                <span class="font-c-8f">每位：</span>
                <span class="font-c-40">￥{{restaurantInfo.averagePrice}}（需加10%服务费及6%增值税）</span>
            </p>

            <p>
                <span class="font-c-8f">地址：</span>
                <span class="font-c-40">{{restaurantInfo.restaurantAddress}}</span>
            </p>

            <p>
                <span class="font-c-8f">电话：</span>
                        <span class="font-c-40"><span ng-repeat=" tel in restaurantInfo.restaurantTeles">
                            <a class="font-c-40" href="tel:{{tel}}">{{tel}}</a></span> </span>
            </p>

        </div>
    </div>
    <!--餐厅介绍结束-->
</script>

<script type="text/ng-template" id="detailPic.html">
    <!--内容开始-->
    <div class="pd15 mt70" style="margin-top: 20px">
        <div class="border border-r-5 bg-white padding">
            <div class="pos-r">
                <img ng-src="{{details[0].picname}}" class="per100" id="d-img">

                <div class="pos-a tc per100 bottom20">
                    <p class="bg-t display-ib per90 ht40 l-ht40 font-white" id="description">{{description}}</p>
                </div>
            </div>
            <!--图片列表开始-->
            <div class="overflow-x-auto carousel">
                <ul class="list-unstyled pr10 ht70 img-list mt10 pos-r overflow-h">
                    <li class="fl pl10 border-r-5" ng-repeat="detail in details">
                        <img ng-src="{{detail.picname}}" class="per100 small-pic" change-pic
                             description="{{detail.introduction}}">
                    </li>
                </ul>
            </div>
            <!--图片列表结束-->
            <!--餐厅介绍开始-->
            <div class="pl10 pr10 pos-r">
                <div class="mb16">
                    <b class="font16">{{restaurantInfo.restaurantName}}</b>
                    <span class="display-ib ht20 l-ht20 pl5 pr5 border ml10" ng-show="discount">三免一餐厅</span>
                </div>
                <p>
                    <span class="font-c-8f">地址：</span>
                    <span class="font-c-40">{{restaurantInfo.restaurantAddress}}</span>
                </p>

                <p>
                    <span class="font-c-8f">电话：</span>
                    <span class="font-c-40">{{restaurantInfo.restaurantTele}}</span>
                </p>
                <p>
                    <span class="font-c-8f">每位：</span>
                    <!--<span class="font-c-8f text-d-lt">￥200</span>-->
                    <span class="font-c-40">￥{{restaurantInfo.averagePrice}}（需加10%服务费及6%增值税）</span>
                </p>

                <p>
                    <span class="font-c-8f">餐厅类别：</span>
                    <span class="font-c-40">{{restaurantInfo.restaurantType}}</span>
                </p>

                <p>
                    <span class="font-c-8f">停车泊位：</span>
                    <span class="font-c-40">{{restaurantInfo.park}}</span>
                </p>

                <p>
                    <span class="font-c-8f">营业时间：</span>
                    <span class="font-c-40">{{restaurantInfo.restaurantOpenTime}}</span>
                </p>

            </div>
            <!--餐厅介绍结束-->

        </div>
    </div>
</script>

<script type="text/ng-template" id="editPic.html">
    <!--内容开始-->
    <div>
        <a class="lty-modify-pic-word">展示图片</a>
    </div>
    <div class="lty-modify-pic-block" sv-root>
        <div sv-part="ltyAllPic.ShowPic">
            <div ng-repeat="show in ltyAllPic.ShowPic" style="display: inline-block" sv-element>
                <img src="{{show.picname}}" class="per100 lty-detail-pic">
                <div class="lty-mlra">
                    <a href="javascript:;" class="lty-btn" ng-click="cancelShowPic(show)">
                        取消展示
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="lty-modify-pic-word">已上传图片</a>
    </div>
    <div class="lty-modify-pic-block" >
        <div ng-repeat="detail in ltyAllPic.DetailPic" style="display: inline-block" >
            <img src="{{detail.picname}}" class="per100 lty-detail-pic" change-pic>
            <div class="lty-mlra">
                <a href="javascript:;" class="lty-btn" ng-click="showPic(detail)">
                    展示
                </a>
                <a href="javascript:;" class="lty-btn" ng-click="deletePic(detail)">
                    删除
                </a>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="file btn-primary lty-tag-a" autofocus="false" ng-click="setDetail()">
        <span class="glyphicon glyphicon-file" autofocus="false"></span>保存修改
    </a>
</script>

<script type="text/ng-template" id="editFrontPic.html">
    <!--内容开始-->
    <div>
        <a class="lty-modify-pic-word">首页展示图片</a>
    </div>
    <div class="lty-modify-pic-block" style="min-height: 132px">
        <img src="{{FrontPic.picname}}" class="per100 lty-detail-pic" style="width: 86px; height: 116px">
    </div>
    <div>
        <a class="lty-modify-pic-word">已上传图片</a>
    </div>
    <div class="lty-modify-pic-block" style="min-height: 159px">
        <div ng-repeat="detail in FrontPics" style="display: inline-block" >
            <img src="{{detail.picname}}" class="per100 lty-detail-pic" style="width: 86px; height: 116px">
            <div class="lty-mlra">
                <a href="javascript:;" class="lty-btn" ng-click="setFront(detail)">
                    展示
                </a>
                <a href="javascript:;" class="lty-btn" ng-click="deleteCFront(detail)">
                    删除
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="editListPic.html">
    <!--内容开始-->
    <div>
        <a class="lty-modify-pic-word">首页展示图片</a>
    </div>
    <div class="lty-modify-pic-block" style="min-height: 85px">
        <img src="{{ListPic.picname}}" class="per100 lty-detail-pic">
    </div>
    <div>
        <a class="lty-modify-pic-word">已上传图片</a>
    </div>
    <div class="lty-modify-pic-block" >
        <div ng-repeat="detail in ListPics" style="display: inline-block" >
            <img src="{{detail.picname}}" class="per100 lty-detail-pic" change-pic>
            <div class="lty-mlra">
                <a href="javascript:;" class="lty-btn" ng-click="setList(detail)">
                    展示
                </a>
                <a href="javascript:;" class="lty-btn" ng-click="deleteCList(detail)">
                    删除
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="previewList.html">
    <!--内容开始-->
    <div class="pd15 mt70" style="margin-top: 20px">
        <div class="border border-r-5 bg-white padding">
            <div class="pos-r">
                <img src="{{listPic.picname}}" class="per100">

                <div class="pos-a tc per100 bottom20">
                    <p class="bg-t display-ib per90 ht40 l-ht40 font-white">{{listPic.introduction}}</p>
                </div>
            </div>
        </div>
    </div>
</script>
