<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">餐厅列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row"  ng-controller="restaurantInfoCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-5">
                    餐厅所在地
                    <select class="form-control" ng-model="restaurantToSearch.city" ng-options="city.name as city.name for city in cities" ng-change="citySelected()">
                        <!--<option value="">选择城市</option>-->
                    </select>
                </div>
                <div class="col-md-5">
                    搜酒店名
                    <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="restaurantToSearch.hotelName" ng-enter="searchBtnClicked()">
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="button" class="btn btn-primary btn-circle" ng-click="searchBtnClicked()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->


    <div class="col-lg-12 col-sm-12" id="line-chart">
        <div class="panel panel-default">
            <div class="panel-heading">
                搜索结果
                <!--<div align="right">-->
                    <!--<button type="button" ng-click="createRestaurant()" class="btn btn-sm btn-success">-->
                        <!--&lt;!&ndash;<button type="button" ng-click="getRestaurantList()" class="btn btn-sm btn-success">&ndash;&gt;-->
                        <!--<i class="glyphicon glyphicon-plus">-->
                        <!--</i>  新建餐厅-->
                    <!--</button>-->
                <!--</div>-->
            </div>
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th st-sort="name">餐厅名</th>
                        <th st-sort="hotelName">酒店名</th>
                        <th st-sort="marketingName">城市</th>
                        <th >餐厅地理位置</th>
                        <th >编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" ng-repeat="row in displayedCollection">
                        <td>{{row.restaurantName}}</td>
                        <td>{{row.hotelName}}</td>
                        <td>{{row.city}}</td>
                        <td>({{row.longitude}}, {{row.latitude}})</td>
                        <td>
                            <button class="btn btn-xs" type="button" ng-click="editRestaurant(row)" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-xs" type="button" ng-click="setRestaurantToDelete(row)" data-toggle="modal" data-target="#deleteModal">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="deleteModalLabel">系统提示</h4>
                            </div>
                            <div class="modal-body">
                                确定删除餐厅: {{restaurantToDelete.restaurantName}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteRestaurant()" data-dismiss="modal">删除</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>