<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tables</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div ng-controller="safeCtrl">

                    <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
                    <!--<button type="button" ng-click="getRestaurantList()" class="btn btn-sm btn-success">-->
                        <i class="glyphicon glyphicon-plus">
                        </i> Add random item
                    </button>

                    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <div class="input-group">
                                    <input st-search="" class="form-control" placeholder="global search ..." type="text"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="name">name</th>
                            <th st-sort="isPromoted">isPromoted</th>
                            <!--<th st-sort="birthDate">birth date</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr st-select-row="row" ng-repeat="row in displayedCollection">
                            <td>{{row.name}}</td>
                            <td>
                                <input type="checkbox" ng-model="row.isPromoted">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->