<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tables</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div ng-controller="safeCtrl">
                    <button type="button" ng-click="setRestaurantToUpdate()"  data-toggle="modal" data-target="#addModal" class="btn btn-sm btn-success">
                    <!--<button type="button" ng-click="getRestaurantList()" class="btn btn-sm btn-success">-->
                        <i class="glyphicon glyphicon-plus">
                        </i> Add restaurant
                    </button>

                    <button type="button" ng-click="updatePromotedRestaurantsByCity(r)" class="btn btn-sm btn-success">
                        <!--<button type="button" ng-click="getRestaurantList()" class="btn btn-sm btn-success">-->
                        <i class="glyphicon glyphicon-cloud-upload">
                        </i> Update promoted restaurants
                    </button>

                    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th colspan="4">
                                <table class="table table-condensed">
                                    <tr>
                                        <td width="20%">
                                            <div class="input-group">
                                                <input st-search="" class="form-control" placeholder="global search ..." type="text"/>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td width="60%" align="right" valign="center">
                                            <button class="btn btn-default disabled" type="button">City: </button>
                                        </td>
                                        <td width="20%">
                                            <select class="form-control" ng-change="changeCity()" ng-model="selectedCity" ng-options="city.name as city.name for city in cities" >
                                                <option value="">Choose a city</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort="name">name</th>
                            <th st-sort="marketingName">marketing</th>
                            <th st-sort="isPromoted">isPromoted</th>
                            <th >Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr st-select-row="row" ng-repeat="row in displayedCollection">
                            <td>{{row.name}}</td>
                            <td>{{row.marketingName}}</td>
                            <td>
                                <input type="checkbox" ng-model="row.isPromoted" ng-checked="row.isPromoted">
                            </td>
                            <td>
                                <button class="btn btn-xs" type="button" ng-click="setRestaurantToDelete(row)" data-toggle="modal" data-target="#deleteModal">
                                    <i class="fa fa-remove"></i>
                                </button>
                                <button class="btn btn-xs" type="button" ng-click="setRestaurantToUpdate(row)" data-toggle="modal" data-target="#editModal">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="deleteModalLabel">System Information</h4>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete {{restaurantToDelete.name}}?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="deleteRestaurant()" data-dismiss="modal">Yes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="height:300px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="editModalLabel">Restaurant Information</h4>
                                </div>
                                <div class="modal-body" style="height:200px">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name: </label>
                                            <div class="col-sm-8">
                                                <input class="form-control" ng-model="restaurantToUpdate.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">City: </label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="restaurantToUpdate.city" ng-options="city.name as city.name for city in cities">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Marketing: </label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="restaurantToUpdate.marketingName" ng-options="user.name as user.name for user in users">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">isPromoted: </label>
                                            <div class="col-sm-offset-0 col-sm-7 checkbox">
                                                <input type="checkbox" ng-model="restaurantToUpdate.isPromoted" ng-checked="restaurantToUpdate.isPromoted">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateRestaurant()">Yes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="height:300px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="addModalLabel">Restaurant Information</h4>
                                </div>
                                <div class="modal-body" style="height:200px">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Name: </label>
                                            <div class="col-sm-8">
                                                <input class="form-control" ng-model="restaurantToUpdate.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">City: </label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="restaurantToUpdate.city" ng-options="city.name as city.name for city in cities">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Marketing: </label>
                                            <div class="col-sm-8">
                                                <select class="form-control" ng-model="restaurantToUpdate.marketingName" ng-options="user.name as user.name for user in users">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">isPromoted: </label>
                                            <div class="col-sm-offset-0 col-sm-7 checkbox">
                                                <input type="checkbox" ng-model="restaurantToUpdate.isPromoted" ng-checked="restaurantToUpdate.isPromoted">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createRestaurant()">Yes</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->