<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> 用户列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" ng-controller="userCtrl">
            <div class="panel-heading">
                <div align="right">
                    <button type="button" ng-click="setUserToUpdate()"  data-toggle="modal" data-target="#addModal" class="btn btn-sm btn-success">
                        <!--<button type="button" ng-click="getRestaurantList()" class="btn btn-sm btn-success">-->
                        <i class="glyphicon glyphicon-plus">
                        </i> 添加用户
                    </button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th colspan="5">
                            <div class="input-group">
                                <input st-search="" class="form-control" placeholder="搜索" type="text"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="row.lastName">姓名</th>
                        <th st-sort="row.password">密码</th>
                        <th st-sort="row.phoneid">手机</th>
                        <th>性别</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" ng-repeat="row in displayedCollection">
                        <td>{{row.lastName}}{{row.firstName}}</td>
                        <td>{{row.password}}</td>
                        <td>{{row.phoneid}}</td>
                        <!--<td>{{row.gender}}</td>-->
                        <td>{{ row.gender == 1 ? '男' : '女' }}</td>
                        <td>
                            <button class="btn btn-xs" type="button" ng-click="setUserToDelete(row)" data-toggle="modal" data-target="#deleteModal">
                                <i class="fa fa-remove"></i>
                            </button>
                            <button class="btn btn-xs" type="button" ng-click="setUserToUpdate(row)" data-toggle="modal" data-target="#editModal">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="deleteModalLabel">System Information</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete {{userToDelete.lastName}}{{userToDelete.firstName}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="deleteUser(userToDelete.phoneid)" data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="height:280px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="editModalLabel">User Information</h4>
                            </div>
                            <div class="modal-body" style="height:280px">
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">姓: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="userToUpdate.lastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">名: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="userToUpdate.firstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">性别: </label>
                                        <div class="col-sm-8">
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="userToUpdate.gender" value="0">男
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="userToUpdate.gender" value="1">女
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">密码: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="userToUpdate.password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">手机号: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="userToUpdate.phoneid">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateUser()">Yes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- Modal -->
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="height:280px">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="addModalLabel">User Information</h4>
                            </div>
                            <div class="modal-body" style="height:280px">
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">姓: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="userToCreate.lastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">名: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="userToCreate.firstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">性别: </label>
                                        <div class="col-sm-8">
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="userToCreate.gender" value="0" checked>男
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="userToCreate.gender" value="1">女
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">密码: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="userToCreate.password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">手机号: </label>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="userToCreate.phoneid">
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label">Gender: </label>-->
                                        <!--<div class="col-sm-offset-0 col-sm-7 checkbox">-->
                                            <!--<input type="checkbox" ng-model="userToUpdate.gender" ng-checked="userToUpdate.gender">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createUser()">Yes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->